<header class="py-10">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl leading-9 font-bold text-white">
            <%= yield :title %>
        </h1>
        <%= render "shared/header/page_links" %>
    </div>
</header>