<p>app/views/notes/version.html.erb</p>
<%= render partial: 'previous_verion_link' %>
<%= render partial: 'note', object:  @verion.reify, locals: { display: 'individual' } %>
<%= link_to 'Revert to this version', revert_note_path(@note, @verion), method: :post %>