<div class="flex flex-col">
  <div class="overflow-x-auto">
    <div class="align-middle inline-block min-w-full overflow-hidden">
      <table class="min-w-full">
        <%= yield %>
      </table>
    </div>
  </div>
</div>