<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
  <div class="border-b border-gray-900">
    <div class="flex items-center justify-between h-16 px-4 sm:px-0">
      <div class="flex items-center">
        <%= render "shared/navigation/title" %>
        <%= render "shared/navigation/menu_links_desktop" if current_user %>
      </div>
      <%= render "shared/navigation/profile_links_desktop" if current_user %>
      <%= render "shared/navigation/mobile_button" %>
    </div>
  </div>
</div>