<div class="hidden md:block text-right">
    <span class="inline-flex">
        <span class="inline-flex">
            <%= link_to "Log In", new_user_session_path, class: "inline-flex items-center px-4 py-2 border border-white text-base leading-6 font-medium text-white bg-transparent hover:bg-white hover:text-black focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition duration-150 ease-in-out"%>
        </span>
    </span>
</div>