<div>
    <%= link_to "Log In", new_user_session_path, class: "block w-full px-5 py-3 text-center font-medium text-blue-600 bg-gray-50 hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:bg-gray-100
    focus:text-blue-700 transition duration-150 ease-in-out", role: :menuitem %>
</div>