<div class="hidden md:block">
    <div class="ml-10 flex items-baseline">
        <%= link_to "Notes", notes_path, class: "#{params[:controller] == "notes" ? 'menu_link--active' : 'menu_link--default' }" %>
        <%= link_to "Tasks", tasks_path, class: "#{params[:controller] == "tasks" ? 'menu_link--active' : 'menu_link--default' }" %>
        <%= link_to "Reminders", reminders_path, class: "#{params[:controller] == "reminders" ? 'menu_link--active' : 'menu_link--default' }" %>
    </div>
</div>