<div class="hidden md:block">
    <div class="ml-10 flex items-baseline">
        <%= link_to "Notes", notes_path, class: "px-3 py-2 rounded-md text-sm font-medium text-white bg-gray-900 focus:outline-none focus:text-white focus:bg-gray-700" %>
        <%= link_to "Tasks", tasks_path, class: "ml-4 px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 " %>
        <%= link_to "Reminders", reminders_path, class: "ml-4 px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 " %>
    </div>
</div>