<div class="flex-shrink-0">
    <%= link_to root_path, class: "block" do %>
        <span class="text-3xl text-white"><span class="font-hairline">Po</span><span class="font-black">Notes</span></span>
    <% end %>
</div>