<!DOCTYPE html>
<html>
    <%= render "shared/head/head" %>
    <body class="antialiased font-sans bg-blue-500"> 
        <div class="min-h-screen bg-blue-500 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
            <%= yield %>
        </div>
    </body>
</html>